@charset "UTF-8";
/* 
특정 부분 스크롤바 없애기
body{
 -ms-overflow-style: none;
 }
 
::-webkit-scrollbar {
  display: none;
}

.box{
   -ms-overflow-style: none;
}
.box::-webkit-scrollbar{
  display:none;
}
*/

.wrap{ /*  main.jsp */
	width: 412px; 
	margin: 0 auto;
	display: flex;
}



@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.contentbox{
	padding :0px 0px 60px 0px!important;
}
.contentbox a{
	color: black;
	text-decoration: none;
}

.contentbox a:hover{
	color: black;
}

#carouselExampleDark{padding: 30px;}

.topcontent{
	display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
	
}
.main{
	flex-direction: column;
	padding: 40px 20px;
}
.content{
    border-top: 1px solid #eeeeee;
    padding: 20px 0px;
    display:flex;
    justify-content:space-between;
    
    }

.content img{
	width: 150px !important;
	height: 150px !important;
	margin: 0px !important;
	margin-left: 20px!important;
}

.topcontent input{
	padding: 4px;
	margin: 3px;
	border-radius: 5px;
	border: 1px solid #eeeeee;
}
.form-select{
	width: 120px !important;
}

.contentbox{
	overflow: auto;
	
}

.ptitle{
	 font-family: 'GmarketSansMedium';
	 font-size: 15px;
}

.pprice{
	 font-family: 'GmarketSansMedium';
	 font-size: 20px;
	 font-weight: bold;
}

.pinfo{
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
 }

.carousel-control-prev{
	color: black;
}
 
.carousel-inner img{
    width: 300px !important;
    margin: 0 auto;
    }
 
 
    
    
.pdate{
	font-size: 10px;
    color: gray;}    
    
    
 .carousel-indicators button{
     background-color: #00000069;}   
    
    
    
 .rmnoinfo img{
 	width: 50px !important;
 	border-radius: 50%;
 	border:1px solid #eeeeee;
 	margin: 20px !important;
 }

.rmnoinfo{
	display: flex;
	align-items: center;
}

.rmnobox{
	display: flex;
	justify-content: space-between;
	align-items: center;
}   

.residence{
	font-size: 10px;
	color: gray;
}  

.rmnocontent{
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	margin-top: 20px;
}
.likebtn{
	    border: none;
    background: white;
   
}
