@charset "UTF-8";

.topcontent{
	display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
	
}
.main{
	border: 1px solid red;
	flex-direction: column;
	padding: 40px;
}
.content{
    border-top: 1px solid #eeeeee;
    padding: 10px 0px;
    display:flex;
    justify-content: space-around;
    }

.content img{
	width: 150px !important;
	margin: 0px !important;
}

.topcontent input{
	padding: 4px;
	margin: 3px;
	border-radius: 5px;
	border: 1px solid #eeeeee;
}
.form-select{
	width: 120px !important;
}